<h1>New Appointments</h1>

<%= form_for @appointment do |form| %>
  Patient: <%= form.collection_select :patient_id, Patient.all, :id, :name %>
  <br>
  <br>
  Doctor: <%= form.collection_select :doctor_id, Doctor.all, :id, :name %>
  <br>
  <br>
  <%= form.date_field :date %>
  <br>
  <br>
  <%= form.text_area :notes %>
  <br>
  <%= form.submit %>
<% end %>